.chakra-container {
  position: relative;
}

.chakra-container h2 {
  position: absolute;
  left: 0;
  margin-top: 10px;
}

.gridItem > button, .chakra-table button, .chakra-button {
  background-color: #EC4842;
}

#BesteldProductCardHolder{
  margin-top: 25px;
}

.BesteldProductCard {
  width: 90%;
    height: auto;
    min-height: 50px;
    border-radius: 25px;
    border-width: 2px;
    border-color: #ec4842;
    padding: 10px;
    margin-bottom: 25px;
}

.BesteldProductEntry{
  border-color: gray;
  border-width:0 0 1px 0;
  min-height: 80px;
  margin: 5px;
 

}

.underlineOnHover:hover{
  text-decoration: underline;
}


@media screen and (max-width: 900px) {
  .BesteldProductGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 1rem;
  }
}

@media screen and (min-width: 901px) {
  .BesteldProductGrid {
      grid-template-columns: 1fr 1fr 70%;
      grid-template-rows: 1fr;
      column-gap: 10px;
      row-gap: 1rem;
  }
}

.bestellingDetails {
  width: 90%;
    
}


 

