.chakra-container {
  position: relative;
}

.chakra-container h2 {
  position: absolute;
  left: 0;
  margin-top: 10px;
}

.gridItem > button, .chakra-table button, .chakra-button {
  background-color: #EC4842;
}

 

