.menuButton{
    width: 80px;
    height: 80px !important;
    background-color: #EC4842 !important;
    border-radius: 0 !important;
    padding: 0 !important;
  }
  
  .menuButton:hover{
    background-color: #E0433E !important;
    border-style: solid;
    border-width: 0 2px 0 2px !important;
    border-color: black !important;
    padding: 0 !important;
  }

  #profileButton:hover{
    border-width: 0 0 0 2px !important;
  }

  .userText{
    color: white;
    font-weight: bold;
    margin-left: 10px;
  }


  