#notificationCardMini{
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    margin: 2px;
    width: 400px;
}

#notificationCardMini:hover{
background-color: rgb(209, 197, 197);
cursor: pointer;
}

#menuListButtonNotification{
    background-color: #EC4842 !important;
    color: white;

}

#menuListButtonNotification:hover{
    background-color: #E0433E;
    
}