.productGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 6px;
  padding: 3px;
}

@media (min-width: 768px) {
  .productGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .productGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
