.chakra-container > .chakra-text {
  position: absolute;
  left: 0;
  margin-top: 10px;
  color: #EC4842;
}

.chakra-container > .chakra-text::before {
  content: '> ';
}

.chakra-container h2 {
  position: absolute;
  left: 0;
  margin-top: 35px;
}

form, .ttc-resultaat {
  margin-top: 100px;
}

form .chakra-button {
  width: 100%;
  margin: 10px 0;
}

p.ttcError {
  color: red;
  font-style: italic;
  maring-top: 2px;
}

.ttc-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chakra-card .chakra-text {
  word-break: break-all;
}

@media (min-width: 1100px) {
  form, .ttc-resultaat {
    margin-top: 80px;
  }

  .chakra-card .chakra-text {
    word-break: keep-all;
  }
}